<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="dbcs" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|Datadirectory|\StudRegDB.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--The 4MB default is set in machine.config, but you can override it in you web.config.
  For instance, to expand the upload limit to 20MB, add below code to web.config:
  <system.web>
  <httpRuntime executionTimeout="240" maxRequestLength="20480" />
  </system.web>-->


<system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"              executionTimeout="240" maxRequestLength="20480"         />
  </system.web>

</configuration>
